*{
    margin: 0 ; 
}
.playerTracker{
    display: block; scale: 0;
}
body{
    overflow: hidden;
  background-color: black;   font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}
.header{
    display: flex; justify-content: center; 
}

.logo{
    height: 17vh; 
    box-shadow: white;
}
.message{
    color: white; text-align: center; font-size: 6vh; height: 8vh;
}
.menuScreen{
    display: flex; justify-content: center; align-items: center; height: 80vh;
    color: white; text-align: center; font-weight: 700;
    font-size: 3vh; flex-wrap: wrap; flex-direction: column;
}
.playerSelection{
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    /* border: 4px white solid; border-radius: 15px; */
    width: 25vw; height: 29vh;
    justify-content: center; align-items: start;
    column-gap: 4vw;
    
}
.playerSelection>div>img{
    filter: brightness(0) invert(1);
}
.playerSelection>div{
    transition: all 0.5s ease-in-out;
    border-radius: 15px; padding: 1vh 1vw 1vh 1vw;
}
.playerSelection>div:hover{
    scale: 1.2; text-shadow: 1px 1px 1px white;
    box-shadow: 1px 1px 3px white; 
}
.playerSelection>div#selected{
    color: skyblue; border: solid white 2px;
    /* text-shadow: 1px 1px 3px lightblue; */
    scale: 1.2; background-color: rgb(57, 135, 243);
}
.startButton, .startButton:hover{
    transition: 0.3s ease-in-out;
}
.startButton{
    border: solid white 3px; border-radius: 10px;
    width: 7vw;
}
.startButton:hover{
    scale: 1.3; 
}
.loadingScreen{
    color: white; font-size: 5vh; display: none; text-align: center;
    margin-top: 30vh;
}
.grid{
    display: grid; 
    width: 30vw; height: 30vw;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    border: solid white 2px; border-radius: 5px;
    margin-left: 10vw;
}
#playerBoard{
    background-color: rgb(0, 81, 255);
}
#enemyBoard{
    background-color: red;
}
.grid>div{
    border: 1px solid white; transition: 0.1s ease-in-out;
}
.grid#enemyBoard>div:hover{
    background-color: white;
}
.gridContainer{
    display: none;
    grid-template-rows: 7fr 1fr; grid-template-columns: repeat(2, 1fr);
    text-align: center; font-size: 5vh;
    justify-content: center; align-items: center;

    
}
.ship{
    background-color: gray;
}
div>.miss{
    background-color: white;
}
div>.hit{
    background-color: green;
}
div>.shipHit{
    background-color: red;
}
.gameOverScreen{
    background-color: black;
    opacity: 0; transition: 1s ease-in-out;
    height: 0; width: 100%; 
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    gap: 7vh;

}
.gameOverScreen#show{
    margin-top: 8vh; height: 100%; position: fixed;
    opacity: 1; transition: 3s ease-in-out;
}
.gameOverMessage{
    text-align: center; font-size: 10vh;
}
#restart{
    padding-top: 1vh;
}
#restart.show{
    height: 8vh; transition: all 0.7s ease-in-out; font-size: 5vh;
    border: solid 7px white; border-radius: 15px; text-align: center; width: 16vw;
}
#restart.hide{
    scale: 0; transition: 0.7s ease-in-out;
}